    <div class="container">
<!-- Forms
================================================== -->
<section id="forms">
  <div class="page-header">
    <h1>Your Danger score is....</h1>
  </div>

   <div class="row">
    <div class="span7 offset1">
      <form class="form-horizontal well" action="page3_risks.php" method="POST">
        <fieldset>
          <legend>Rating: <data>Goose!</data></legend>
		      <div class="span3 pull-left middle"><data><span style='font-size:200px'>77</span></data>
			  </div>
				<div class="span3 pull-right"><data><img src="/bootstrap/img/goose.jpg" class="img-rounded"></data>
			  </div>

        </fieldset>
      </form>
    </div>
 </div>

 <div class="row">
<form class="form-horizontal well" action="page3_risks.php" method="POST">
        <fieldset>
          <legend>Risk: <data>Age</data></legend>
		   Salience: <data>Important</data><br>
		    Value: <data>Risky!</data><br>
			Why?: <data>NOw I will tell you why this is a risky activity. Here is some text...</data><br>
			
			Source: <data><a href="<data>URL</data>">URL</a></data>	     
        </fieldset>
      </form>
	  </div>