<?php

include_once ("includes/header.php");
?>

    <div class="container">
<!-- Forms
================================================== -->
<section id="forms">
  <div class="page-header">
    <h1>...Forensic or Predictive?</h1>
  </div>

  <div class="row">
    <div class="span7 offset1">
          <div class="form-actions">
            <a type="submit" class="btn btn-primary btn-large" href="page2_predictive.php">Predictive: Tell me how Dangerous my trip is going to be....</a>
            <br><br>
			<a type="reset" class="btn btn-primary btn-large" href="page2_forensic.php">Forensic: Tell me how Dangerous my trip was.....</a>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

<?php

include_once ("includes/footer.php");
?>