<script>
function GeoResult(place) {
  this.place = place;
  
  this.has_geometry = function() {
    return this.place.geometry;
  };
  
  this.latitude = function() {
    return this.place.geometry.location.lat();
  };

  this.longitude = function() {
    return this.place.geometry.location.lng();
  };

  this.suburb = function() {
    var fields = ['locality', 'sublocality', 'administrative_area_level_3', 'administrative_area_level_2', 'colloquial_area'];
    for (var i = 0; i < fields.length; i++) {
      var entity = this.address_components_of_type(fields[i])[0] || this.address_components_no_type()[0];
      if (entity) return entity.long_name;
    }
    return '';
  };

  this.state = function() {
    var state = this.address_components_of_type('administrative_area_level_1')[0];
    if (state) return state.short_name;
    return '';
  };

  this.address_components_no_type = function() {
    return _(this.place.address_components).select(function(c) { return c.types.length == 0 });
  };

  this.address_components_of_type = function(type) {
    return _(this.place.address_components).select(function(c) { return _(c.types).include(type) });
  };
};

$.fn.auto_address = function(opts) {
  if (this.length == 0) return;
  var address_field = this;
  var form = this.closest('form');
  
  var autocomplete = new google.maps.places.Autocomplete(this[0], {  });

  google.maps.event.addListener(autocomplete, 'place_changed', function() {
    var place = autocomplete.getPlace();
    if (place) {
      var result = new GeoResult(place);
      if (result.has_geometry()) {
        form.find('#' + address_field.attr('id') + '_latitude').val(result.latitude());
        form.find('#' + address_field.attr('id') + '_longitude').val(result.longitude());
        form.find('#' + address_field.attr('id') + '_state').val(result.state());
      }
    }
  });
};

$(document).ready(function() {
  $('#start_address').auto_address({});
  $('#end_address').auto_address({});
});
</script>

    <div class="container">
<!-- Forms
================================================== -->
<section id="forms">
  <div class="page-header">
    <h1>...Forensic or Predictive?</h1>
  </div>

   <div class="row">
    <div class="span7 offset1">
      <form class="form-horizontal well" action="/predictive" method="POST">
        <fieldset>
          <legend>Tell us about your trip......</legend>
          <div class="control-group">
            <label class="control-label" for="input01" >Origin</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id='start_address' name="start_address" placeholder="Enter address">
              <input type="hidden" id='start_address_latitude' name='start_address_latitude' />
              <input type="hidden" id='start_address_longitude' name='start_address_longitude' />
              <input type="hidden" id='start_address_state' name='start_address_state' />
              <p class="help-block">Where you start...matters...</p>
            </div>
          </div>
		  
		  <div class="control-group">
            <label class="control-label" for="input01" placeholder="Enter address">Destination</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id='end_address' name="end_address" placeholder="Enter address">
              <input type="hidden" id='end_address_latitude' name='end_address_latitude' />
              <input type="hidden" id='end_address_longitude' name='end_address_longitude' />
              <input type="hidden" id='end_address_state' name='end_address_state' />
              <p class="help-block">Will you make it?</p>
            </div>
          </div>
		  
		            <div class="control-group">
            <label class="control-label" for="select01">Time you'll leave?</label>
            <div class="controls">
              <select name="hour_of_day">
                <option value='8'>8am</option>
        				<option value='9'>9am</option>
        				<option value='10'>10am</option>
        				<option value='11'>11am</option>
        				<option value='12'>Noon</option>
        				<option value='13'>1pm</option>
        				<option value='14'>2pm</option>
        				<option value='15'>3pm</option>
        				<option value='16'>4pm</option>
        				<option value='17'>5pm</option>
        				<option value='18'>6pm</option>
        				<option value='19'>7pm</option>
        				<option value='20'>8pm</option>
        				<option value='21'>9pm</option>
        				<option value='22'>10pm</option>
        				<option value='23'>11pm</option>
        				<option value='24'>Midnight</option>
        				<option value='1'>1am</option>
        				<option value='2'>2am</option>
        				<option value='3'>3am</option>
        				<option value='4'>4am</option>
        				<option value='5'>5am</option>
        				<option value='6'>6am</option>
        				<option value='7'>7am</option>
              </select>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Calculate my Danger Score</button>
            <button type="reset" class="btn">Cancel</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>