<div class="container">
	<!-- Forms
================================================== -->
	<section id="forms">
		<div class="page-header">
			<h1>About the Danger Engine <sup>TM</sup></h1>
		</div>

		<div class="row">
			<div class="span7">

				<p>The DangerEngine is an algorithym that uses a combination of:
				
				
				<ul>
					<li>publicly available historical safety data</li>
					<li>automated trip data from the CANBUS using <a
						href="http://openxcplatform.com/">OpenXC Vehicle Data</a>
					
					<li>User generated data, such as age and sex</li>
					<li>Google Map and Path data</li>
				</ul>
				to rate the safety of a particular trip between 1 and 100.
				</P>
				<p>100 is the most dangerous, and 1 is most safe.</p>
				<p>To generate the Risk Metric, we score and weight the following
					variables from publicly available safety data:
				
				
				<ul>
					<li>Age</li>
					<li>Sex</li>
					<li>Seatbelt On/Off</li>
					<li>Trip time of day</li>
					<li>Fatigue</li>
					<li>Vehicle Safety Rating</li>
					<li>State being travelled in</li>
					<li>Inebriation</li>
					<li>ABS activation during trip</li>
					<li>Lights On During Day</li>
					<li>Lights Off at Night</li>
					<li>Nearby Accident Blackspots on route</li>

				</ul>
			</div>
			<div class="span3 well">
				<p>The DangerEngine is a product of a <a href="http://sxsweco.com/hackathon">one day Hackathon at SXSW Eco</a>
					festival in Austin, Texas in 2012.</p>
				<p>Code by:
				
				
				<ul>
					<li><a href="http://www.linkedin.com/pub/nic-lowe/4/683/617">Nic
							Lowe</a></li>
					<li><a href="http://www.linkedin.com/in/dunkstewart">Duncan Stewart</a>
					</li>

				</ul>
				DangerZone Name by:
				<ul>
					<li><a href="http://www.linkedin.com/pub/nic-lowe/4/683/617">Lisa
							Fox</a></li>
				</ul>
				Top Gun Quotes and Lead Inspirator:
				<ul>
					<li><a href="http://www.linkedin.com/pub/nic-lowe/4/683/617">Will
							Wansey</a></li>
				</ul>
			</div>
			</fieldset>
			</form>
		</div>

</div>